:css
  article {
    display: flex;
    justify-content: center;
    align-items: center;
    }
  section {    
    display: inline-block;
    flex: none;
  }
  form {    
    padding: 10px;
    border-radius: 1rem;
    background-color: rgba(0,0,0,0.3);
  }
  .btn {
    width: 230px;
  }

%article
  %section
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .form-group
        .field
          = f.text_field :login, class: "form-control", :placeholder => "アカウント"
      .form-group
        .field
          = f.password_field :password, autocomplete: "off", class: "form-control", :placeholder => "パスワード"
      .actions
        = f.submit "ログイン", class: "btn btn-success"
    %p.alert= alert
