:css
  article {
    height: 100%;
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }
  section {    
    flex none;
    margin: 1rem;
  }
  .panel {    
    padding: 2rem;
    border-radius: 1rem;
    background-color: rgba(0,0,0,0.4);
  }
  .stretch {
    width: 100%;
  }

%article
  %section
    .panel
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .form-group
          .field
            = f.text_field :login, class: "form-control", placeholder: "アカウント"
        .form-group
          .field
            = f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "パスワード"
        .actions
          = f.submit "ログイン", class: "btn btn-success stretch"
  - if alert
    %section
      .alert.alert-dismissible.alert-danger
        = button_tag "×", class: "close", data: { dismiss: "alert" }
        %strong Error
        %p
          = alert
